[tool.poetry]
name = "polyanalyst6api"
version = "0.23.2"
description = "polyanalyst6api is a PolyAnalyst API client for Python."
authors = ["yatmanov <yatmanov@megaputer.ru>"]
license = "MIT"
readme = "README.md"

repository = "https://github.com/Megaputer/polyanalyst6api-python/"
documentation = "https://megaputer.github.io/polyanalyst6api-python/"

keywords = ["megaputer", "polyanalyst", "polyanalyst6api", "api"]

classifiers = [
    "Topic :: Internet",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.dependencies]
python = "^3.6"
requests = "^2.27"
pytus = "^0.2.1"

[tool.poetry.dev-dependencies]
pytest = "^3.0"
sphinx = "^1.8"
sphinx-autodoc-typehints = "1.6.0"
towncrier = "^19.2"
vcrpy = "^4.1.0"
pytest-recording = "^0.8.1"
jsonschema = "^3.2.0"
pydantic = "^1.6.1"
pytest-ordering = "^0.6"
black = "^20.8b1"

[tool.towncrier]
package = "polyanalyst6api"
package_dir = "polyanalyst6api"
filename = "CHANGELOG.md"
directory = ".changes"
title_format = "{version} ({project_date})"
