[tool.poetry]
name = "polyanalyst6api"
version = "0.8.2"
description = "polyanalyst6api is a PolyAnalyst API client for Python."
authors = ["yatmanov <yatmanov@megaputer.ru>"]
license = "MIT"

homepage = "https://github.com/Megaputer/polyanalyst6api-python"

keywords = ["megaputer", "polyanalyst", "polyanalyst6api", "api"]

classifiers = [
    "Topic :: Internet",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.dependencies]
python = "^3.6"
requests = "^2.19"
pytus = "^0.2.0"

[tool.poetry.dev-dependencies]
pytest = "^3.0"
sphinx = "^1.8"
sphinx-autodoc-typehints = "1.6.0"
towncrier = "^19.2"
